Jinja2==2.7.3
MarkupSafe==0.23
Twisted==14.0.0
backports.ssl-match-hostname==3.4.0.2
cffi==0.8.2
characteristic==0.1.0
cryptography==0.4
gnureadline==6.3.3
ipython==2.1.0
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pycrypto==2.6.1
pyzmq==14.3.1
service-identity==1.0.0
six==1.7.2
tornado==3.2.2
wsgiref==0.1.2
zope.interface==4.1.1
